<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Year of Pluralsight</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=PT+Mono|Poppins" rel="stylesheet">
    <link rel="stylesheet" href="tooltip.css">
    <link rel="stylesheet" href="style.css?v=3">

</head>

<body>

    <div id="app" class="container-fluid">
        <div class="header">
            <h2>
                <a href="./"> Year of Pluralsight</a>
            </h2>
            <h3>
                <a href="https://app.pluralsight.com/profile/kyle-mitofsky" class="header-coding">
                    <span class="syntax-bracket">&lt;</span><!--
                 --><span class="syntax-string">Coding</span><!--
                 --><span class="syntax-bracket">&gt;</span>
                </a>
                <span class="header-amp" >&amp;</span>
                <a href="https://www.strava.com/athletes/15675073" class="header-cardio">Cardio</a>
            </h3>
        </div>
        <div class="grid">
            <div v-for="week in byWeek" class="column">
                <a v-for="log in week" v-smooth-scroll
                    class="cell" :class="{completed: log.minutes}"
                    :href="'#' + log.date"
                    v-tooltip="tooltip(log)"
                    v-cloak>
            </a>
            </div>
        </div>

        <div class="list">
            <template v-for="(week, wkNum) in byWeek" class="column">
                <h5>Week {{wkNum + 1}}</h5>

                <div v-for="log in week" :id="log.date"
                     class="id-wrapper " >
                     <div class="list-item"  :class="{active: log.minutes}">
                        <div class="date">{{log.date}}</div>
                        <div class="coding" v-if="log.code">
                            {{log.code.title}}
                        </div>
                        <div class="cardio" v-if="log.cardio">
                            {{log.cardio.type}}
                        </div>
                    </div>
                </div>
            </template>
           
        </div>
    </div>




    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
    <script src="https://unpkg.com/vue-smooth-scroll@1.0.11"></script> 
    <script src="https://unpkg.com/v-tooltip"></script>
    <script src="script.js?v=2019-01-06"></script>
</body>

</html> 
