
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.header {
    background: #fbfafa;
    padding: 10px;
}
.header * {
    text-align: center;
    margin: 0;
}
.header h3 {
    margin-top: -5px;
    color: #777777;
}
.header-coding {
    font-family: 'PT Mono', monospace;
}
.header-amp {
    padding: 0px 5px;
}
.header a,
.header a:hover {
    color: #3c3c3c;
    text-decoration: none;
}
.header h3 a,
.header h3 a:hover {
    color: #777777;
}

.grid {
    position: sticky;
    top: 0;
    background: #fbfafa;
    text-align: center;
    padding: 5px;
}
.grid .cell {
    width: 8px;
    height: 8px;
    background: gainsboro;
    border-radius: 2px;
    margin: 1px;
    display: block;
    transition: width .5s ease, height .5s ease;
    border: 1px solid transparent;
}
.grid .cell[v-cloak] {
    display: none
}

@media (max-width: 640px) { 
    .grid .cell {
        width: 7px;
        height: 7px;
    }
}

@media (max-width: 590px) { 
    .grid .cell {
        width: 6px;
        height: 6px;
        border-radius: 1px;
    }
}
@media (max-width: 540px) { 
    .grid .cell {
        width: 5px;
        height: 5px;
    }
}
@media (max-width: 490px) { 
    .grid .cell {
        width: 4px;
        height: 4px;
    }
}
@media (max-width: 440px) { 
    .grid .cell {
        width: 3px;
        height: 3px;
        border-radius: 0px;
    }
}


@media (max-width: 390px) { 
    .grid .cell {
        width: 2px;
        height: 2px;
    }
}
@media (max-width: 330px) { 
    .grid .cell {
        width: 1px;
        height: 1px;
    }
}

.grid .cell.completed {
    background: green;
}
.grid .cell.active {
    border: 1px solid #1f1fc1;
}
.grid .column {
    /* float:left; */
    display: inline-block;
}

.id-wrapper {
    margin-top: -92px;
    padding-top: 92px;
}

.list {
    padding: 10px;
}

.list h5 {
    margin: 15px 5px 10px 5px;
    color: #676767;
}

.list-item {
    margin:5px;
    padding:5px;
    /* box-shadow: 1px 1px 1px 1px #aaaaaa; */
    border-bottom: 1px solid #b1b1b1;
    margin: 0;
    display: flex;
}
.list-item .date {
    font-weight: bold;
    color: #3c3939;
    width: 65px;
}
.active .list-item .date {
    /* box-shadow: 1px 1px 1px 1px #aaaaff; */
    color: #1f1fc1;
}
.list-item .coding,
.list-item .cardio {
    flex: 1 1 0;
    padding: 0px 10px;
}
.syntax-bracket {
    color: #322ffe
}
@media (max-width: 500px) { 
    .list-item {
        flex-direction: column;
    }    
}

.syntax-string {
    color: #b44646
}