
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.header {
    background: #fbfafa;
    padding: 10px;
}
.header * {
    text-align: center;
    margin: 0;
}
.header-coding {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.1em;
}
.header a,
.header a:hover {
    color: #3c3c3c;
    text-decoration: none;
}

.grid {
    position: sticky;
    top: 0;
    background: #fbfafa;
    text-align: center;
    padding: 5px;
}
.grid .cell {
    width: 10px;
    height: 10px;
    background: gainsboro;
    border-radius: 2px;
    margin: 1px;
    display: block;
    transition: width .5s ease, height .5s ease;
}
.grid .cell[v-cloak] {
    display: none
}

@media (max-width: 650px) { 
    .grid .cell {
        width: 9px;
        height: 9px;
    }
}

@media (max-width: 585px) { 
    .grid .cell {
        width: 8px;
        height: 8px;
    }
}
@media (max-width: 530px) { 
    .grid .cell {
        width: 7px;
        height: 7px;
    }
}
@media (max-width: 480px) { 
    .grid .cell {
        width: 6px;
        height: 6px;
    }
}
@media (max-width: 430px) { 
    .grid .cell {
        width: 5px;
        height: 5px;
    }
}


@media (max-width: 390px) { 
    .grid .cell {
        width: 4px;
        height: 4px;
    }
}
@media (max-width: 330px) { 
    .grid .cell {
        width: 3px;
        height: 3px;
    }
}

.grid .cell.completed {
    background: green;
}
.grid .cell.active {
    box-shadow: 0px 0px 1px 1px #aaaaff;
}
.grid .column {
    /* float:left; */
    display: inline-block;
}

.id-wrapper {
    margin-top: -92px;
    padding-top: 92px;
}

.list {
    padding: 10px;
}

.list h5 {
    margin: 0 5px;
    color: #333333;
}

.list-item {
    margin:5px;
    padding:5px;
    box-shadow: 1px 1px 1px 1px #aaaaaa;
    
}
.active .list-item {
    box-shadow: 1px 1px 1px 1px #aaaaff;
}


.syntax-bracket {
    color: #00f
}

.syntax-string {
    color: #a31515
}